body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 0.2em #000000;
}

div, td {
  text-align: center;
}

#timer {
  color: #FFFF00;
  font-size: 10em;
}

#home, #guest {
  color: #00FF00;
  font-size: 6em;
}

#game {
  color: #FF0000;
  font-size: 5em;
}

#homeScore, #guestScore {
  font-size: 5em;
}

#shotClock {
  font-size: 8em;
}

#homeGroundTime, #guestGroundTime {
  color: #FF0000;
  font-size: 4em;
}

.bottomBar {
  bottom: 0px;
  display: none;
  font-size: 3em;
  position: absolute;
  text-align: center;
  width: 100%;
}
