body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans-serif;
}

footer {
  font-size: 3rem;
}

#timer {
  color: #FFFF00;
  font-size: 10rem;
}

#home, #guest {
  color: #00FF00;
  font-size: 6rem;
}

#game {
  color: #FF0000;
  font-size: 5rem;
}

#homeScore, #guestScore {
  font-size: 5rem;
}

#shotClock {
  font-size: 8rem;
}

#homeGroundTime, #guestGroundTime {
  color: #FF0000;
  font-size: 4rem;
}
